.form {
    display: flex;
    justify-content: space-between;
    /* padding-left: 40px; */
    padding: 5px 20px;

    background: #393939;
    border-radius: 20px;
}

.input {

    border-radius: 30px;
    padding-left: 20px;
    width: 60%;
    font-size: 1.2em;
    background: #292929;
    border: none;
    color: #fff;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.send {
    color: #2979FF;
    font-size: 2em;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    padding: 20px;
    display: inline-block;
    border: none;
    padding-right: 30px;
    cursor: pointer;

}

.sendButton:hover {
    background: #292929;
    border-radius: 20px;
}