node_modules
server/node_modules
client/node_modules
server/archivePath.json

/Engineering thesis/praca inzynierska.aux
/Engineering thesis/praca inzynierska.synctex.gz
/Engineering thesis/praca inzynierska.toc
/Engineering thesis/praca inzynierska.bbl
/Engineering thesis/praca inzynierska.blg
/Engineering thesis/praca inzynierska.log
/Engineering thesis/praca inzynierska.pdf
/Engineering thesis/test.pdf
/Engineering thesis/test.synctex.gz
